<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Land Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .row{
          width: 430px;
          margin: 0 auto;
          padding-top: 20px;
        }
        .form-select{
            display: block;
            width: 100%;
            padding:10px 15px;
            font-size: 16px;
            font-weight: 400;
            outline: none;
            border: 1px solid #CCCCCC;
            border-radius: 4px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
        .custom-select{
          position: relative;
          padding: 10px 0 0 0;
          width: 100%;
        }
        .custom-select:before{
          content: "";
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid #CCCCCC;
          position: absolute;
          right: 15px;
          top: 50%;
          margin-top: 2px;
        }
        .custom-select label{
          position: absolute;
          left: 15px;
          top: 0;
          background-color: #FFF;
          color: #333;
          font-family: Arial;
          padding: 0 10px;
        }
        .form-select:focus{
          border: 1px solid #55935B;
        }
        .form-select:focus + label{
          color:#55935B;
        }
        .alert.success {
          background-color: #5cb85c;
        }
        
        .alert.error {
          background-color: #d9534f;
        }
        
        .form-submit-button {
          background: #0066A2;
          color: white;
          border-style: outset;
          border-color: #0066A2;
          height: 50px;
          width: 100px;
          font: bold15px arial,sans-serif;
          text-shadow: none;
        }
        </style>
</head>
<body>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert {{ category }}"><center> {{ message|capitalize }}</center> </div>
    {% endfor %}
  {% endif %}
{% endwith %}

    {% block content %}
    {% endblock %}


</script>
</body>