{% extends "base.html" %}
        {% block content %}
    <form method="POST">
        {{form.csrf_token }}
        <div class="row">
          <div class="custom-select">
            {{ form.state(class_="form-select") }}
          <label><small>States</small></label>
          </div>

          <div class="custom-select">
          {{ form.district(class_="form-select")}}
          <label><small>District</small></label>
          </div>
          
          <div class="custom-select">
          {{ form.tehsil(class_="form-select") }}
          <label><small>Tehsil</small></label>
          </div>

          <div class="custom-select">
          {{ form.village(class_="form-select") }}
          <label><small>Village</small></label>
          </div>

          <div class="custom-select">
          {{ form.khewat(class_="form-select") }}
          <label><small>Khewat</small></label>
          </div>

          <div class="custom-select">
          {{ form.murraba(class_="form-select") }}
          <label><small>Murraba</small></label>
          </div>

          <div class="custom-select">
          {{ form.khasara(class_="form-select") }}
          <label><small>Khasara</small></label>
          </div>

          <div class="custom-select">
          <input type="submit" value="Search" class="form-submit-button">
        </div>
        </div>
    </form>
        

    <script>
        var state_select = document.getElementById("state");
        var district_select = document.getElementById("district");
        var tehsil_select = document.getElementById("tehsil");
        var village_select = document.getElementById("village");
        var khewat_select = document.getElementById("khewat");
        var murraba_select = document.getElementById("murraba");
        var khasara_select = document.getElementById("khasara");


        state_select.onchange = function()  {
            state = state_select.value;
            fetch('/api/v1/region?state='+state).then(function(response) {
                response.json().then(function(data) {
                    var optionHTML = '';
                    for (var dis of data.data) {
                        optionHTML += '<option value="' + dis.id + '">' + dis.name + '</option>';
                    }
                    district_select.innerHTML = optionHTML;
                })
                
            });
        }

        district_select.onchange = function()  {
            district = district_select.value;
            fetch('/api/v1/region?district='+district).then(function(response) {
                response.json().then(function(data) {
                    var optionHTML = '';
                    for (var dis of data.data) {
                        optionHTML += '<option value="' + dis.id + '">' + dis.name + '</option>';
                    }
                    tehsil_select.innerHTML = optionHTML;
                })
                
            });
        }

        tehsil_select.onchange = function()  {
            tehsil = tehsil_select.value;
            fetch('/api/v1/region?tehsil='+tehsil).then(function(response) {
                response.json().then(function(data) {
                    var optionHTML = '';
                    for (var dis of data.data) {
                        optionHTML += '<option value="' + dis.id + '">' + dis.name + '</option>';
                    }
                    village_select.innerHTML = optionHTML;
                })
                
            });
        }
        village_select.onchange = function()  {
            village = village_select.value;
            fetch('/api/v1/region?village='+village).then(function(response) {
                response.json().then(function(data) {
                    var optionHTML = '';
                    for (var dis of data.data) {
                        optionHTML += '<option value="' + dis.id + '">' + dis.name + '</option>';
                    }
                    khewat_select.innerHTML = optionHTML;
                })
                
            });
        }
        khewat_select.onchange = function()  {
            khewat = khewat_select.value;
            fetch('/api/v1/region?khewat='+khewat).then(function(response) {
                response.json().then(function(data) {
                    var optionHTML = '';
                    for (var dis of data.data) {
                        optionHTML += '<option value="' + dis.id + '">' + dis.name + '</option>';
                    }
                    murraba_select.innerHTML = optionHTML;
                })
                
            });
        }
        murraba_select.onchange = function()  {
            murraba = murraba_select.value;
            fetch('/api/v1/region?murraba='+murraba).then(function(response) {
                response.json().then(function(data) {
                    var optionHTML = '';
                    for (var dis of data.data) {
                        optionHTML += '<option value="' + dis.id + '">' + dis.name + '</option>';
                    }
                    khasara_select.innerHTML = optionHTML;
                })
                
            });
        }
{% endblock %}
